.price-page{

    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;

}

.price-page button {
    font: inherit;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 7px;
    margin-right: 1rem;
}



.price-page button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}



.header{
    color: #2a2a2a;
}

.priceBtn:hover,
.priceBtn:active {

    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation: ease-in;

}



.top-bar{
    color: white;
    text-underline-color: white;

}
