.Login-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.LoginForm-Input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.LoginForm-Input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.LoginForm-Input p{
    color: darkred;
    text-decoration-style: solid;
    opacity: 100;





}

.loginBtn p{
    color: darkred;
    text-decoration-style: solid;
    opacity: 100;





}





.LoginForm-Signup{
    text-align: center;
}