.basic-page{

    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    /*box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);*/
}

.basic-page button {
    font: inherit;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 7px;
    margin-right: 1rem;
}



.basic-page button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}


.basic-page h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2.7em;
    letter-spacing: -2px;
    /*border-bottom: 2px solid black;*/

    text-transform: uppercase;
}


.basicBtn:hover,
.basicBtn:active {

    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation: ease-in;

}



.top-bar{
    color: white;
    text-underline-color: white;

}
