
.BasicForm-Input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}


.BasicForm-Input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.BasicForm-Input p {
    color: darkred;

}
.BasicForm-Input select{
    padding: 0.5rem;
    border: 1px solid rgb(240, 186, 186);
    border-radius: 6px;

}


.BasicForm-Actions {
    text-align: center;
    font: inherit;
    cursor: pointer;

}
.BasicForm-Actions hover,
.Basic-Form-Actions button:active {
    background-color: #510674;
    border-color: #510674;
}
.Basic-Form-Actions button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}
.Basic-Form-Actions button.alternative:hover,
.Basic-Form-Actions button.alternative:active {
    background-color: #ddb3f8;
}
.BasicForm-Signup{
    text-align: center;
}